{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Les plats du restaurant {{ restaurant.nom }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.type }}</td>
                <td>{{ plat.description }}</td>
                <td><img src={{ plat.image }} alt="image resto" style="height: 50px;width: 50px;"/></td>
                <td>{{ plat.prix }} €</td>
                <td>
                    <a href="{{ path('plat_show', {'id': restaurant.id, 'idPlat': plat.id} ) }}">Afficher</a>
                    <a href="{{ path('plat_edit', {'id': restaurant.id, 'idPlat': plat.id} ) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plat_new', {'id': restaurant.id}) }}">Créer un nouveau plat</a>
{% endblock %}
