{% extends 'base.html.twig' %}

{% block title %}Mes Restaurants{% endblock %}

{% block body %}
    <h1>Mes Restaurants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            {% if restaurant.idRestaurateur ==  app.user.id %}
            <tr>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.type }}</td>
                <td>{{ restaurant.adresse }}</td>
                <td>{{ restaurant.email }}</td>
                <td>{{ restaurant.description }}</td>
                {% if restaurant.filename %}
                <td><img src="/img/restaurants/{{ restaurant.filename }}" alt="image resto" style="height: 50px;width: 50px;"/></td>
                {% else %}
                <td>Pas d'image</td>
                {% endif %}
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Afficher</a>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    <a href="{{ path('plat_index', {'id': restaurant.id}) }}">Ajouter des plats</a>
                    {{ include('restaurant/_delete_form.html.twig') }}
                </td>
            </tr>

            {% endif %}

        {% else %}
            <tr>
                <td colspan="8">Vous n'avez pas encore de restaurant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('restaurant_new') }}">Créer un nouveau restaurant</a>
{% endblock %}
